/* CSS Reset*/

* {
	padding: 0;
	margin:0;
	box-sizing: border-box;
}










/* Media Queries */


/*@media css@rule that can be used to apply style on our media queries 
(mobile screens, tablet screens, desktop screens | larger screens)
only screen - media type, means that the contained styles should be only applied
 to the media queries (mobiles, tablets, desktop screens | larger screens)
min width & max width - media features, they specify the device dimensions that we are targeting.

*/
/*Mobile phone*/
@media only screen and (max-width:400px){
	/*body {
		background-color: pink;
	}*/


}

/*Tablets*/
@media only screen and (min-width: 401px) and (max-width:960px){
/*	body {
		background-color: green;
	}*/

}
/*desktop*/

@media only screen and (min-width:961px){
	/*body {
		background-color: red;
	}*/
	
}
