/* CSS Reset*/

* {
	padding: 0;
	margin:0;
	box-sizing: border-box;
}


.container {
	padding-top: 10px;
	position: relative;
	width: 1200px;
	height: 630px;
	margin: 240px auto;
	
}
.container .box{
	position: relative;
	width: calc(400px - 30px);
	height: calc(300px - 30px);
	background:black;
	float: left;
	margin: 15px;
	box-sizing: border-box;
	overflow: hidden;
	border-radius: 10px;
}

.container .box .icon{
	position: absolute;
	color:white;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #f00;
	transition: 0.5s;
	z-index: 1;	

}

.container .box:hover .icon {

	top: 20px;
	left: calc(50% - 40px);
	width: 80px;
	height: 80px;
	border-radius: 50%;
	
}

.container .box .icon .fa {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 80px;
	transition: 0.5s;
	color: #fff;


}

.container .box .icon .fa {
	font-size: 10px;
}

.container .box .content {
	position: absolute;
	top: 100px;
	height: calc(100% - 100px);
	text-align: center;
	padding: 20px;
	box-sizing: border-box;
	transition: 0.5s;
	opacity:1;
}
.container .box:hover .content {

	top:100px;
	opacity: 1;
}
.container .box .content h3{

	margin: 0;
	padding: 0;
	color: #fff; 
	font-size: 24px;
}

.container .box .content p{

	margin: 0;
	padding: 0;
	color: red;
	font-size: 24px;
	color:white;
}


.container .box:nth-child(1) .icon {
	background: skyblue;
}

.container .box:nth-child(2) .icon {
	background: green;
}

.container .box:nth-child(3) .icon {
	background: pink;
}

.container .box:nth-child(4) .icon {
	background: steelblue;
}
}

/* Media Queries */


/*@media css@rule that can be used to apply style on our media queries 
(mobile screens, tablet screens, desktop screens | larger screens)
only screen - media type, means that the contained styles should be only applied
 to the media queries (mobiles, tablets, desktop screens | larger screens)
min width & max width - media features, they specify the device dimensions that we are targeting.

*/
/*Mobile phone*/
@media only screen and (max-width:400px){
	/*body {
		background-color: pink;
	}*/


}

/*Tablets*/
@media only screen and (min-width: 401px) and (max-width:960px){
/*	body {
		background-color: green;
	}*/

}
/*desktop*/

@media only screen and (min-width:961px){
	/*body {
		background-color: red;
	}*/
	
}
