/* CSS Reset*/

* {
	padding: 0;
	margin:0;
	box-sizing: border-box;
}




#bubu{
	background-color:rgb(180, 181, 184);
}



/*New design as of 01252020*/
.first-content{
	padding-top: 40px;
}

.slide-show{
	margin-top: 10px;
	width:max-width;
	border: solid black;
	justify-content: center;
	padding:100px;
	padding-right: 10px;

}

.first-img-left, 
.second-img-left, 
.third-img-left, 
.fourth-img-left, 
.fifth-img-left, 
.sixth-img-left
{

	float: left;
	border: solid black;
	width: 500px;
	height: 300px;
	margin-top: 10px;
	
}

.first-content-right,
.second-content-right,
.third-content-right,
.fourth-content-right,
.fifth-content-right,
.sixth-content-right
{
	border: solid black;
	float:right;
	width: 600px;
	height: 300px;
	margin-top: 10px;

	
}

.first-content-gallery{
	margin-top: 1900px;

}

.first-content-about-us{
	margin-top: 40px;


}
.first-content-contact-us{
	margin-top: 40px;

}
.contact-us{
	height: 400px;
	border: solid black;
	justify-content: center;
	padding: 20px;
	padding-bottom: 20px;
}

.about-us{
	border: solid black;
	justify-content: center;
	padding: 20px;
	padding-bottom: 20px;
}
.images-container{
	margin-top: 50px;
	border: solid black;
	padding-bottom: 20px;
	padding-right: 10px;
	padding-left: 15px;
}

#thumb-img{
	
 border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}


.email{
border: solid black;
padding-left: 50px;
height: 500px;

}
.address{
	margin-top: 50px;
}
#sample-email{
	width: 600px;
	padding:10px;
}
.comment-section{
	margin-top: 20px;
}
.comment-box{
	float: right;
	margin-top: 20px;
	padding-right: 20px;

}
#btn-send{
	
	margin-right: 50px;
	background-color: blue;
	color: white;
}



img:hover{
	box-shadow: 0 0 2px 1px rgba(242, 198, 143, 5);
}


.footer{

	overflow: hidden;
	position: fixed;
	width: 100%;
	bottom:0%;
	height: 30px;
}

/* Media Queries */


/*@media css@rule that can be used to apply style on our media queries 
(mobile screens, tablet screens, desktop screens | larger screens)
only screen - media type, means that the contained styles should be only applied
 to the media queries (mobiles, tablets, desktop screens | larger screens)
min width & max width - media features, they specify the device dimensions that we are targeting.

*/
/*Mobile phone*/
@media only screen and (max-width:400px){
	/*body {
		background-color: pink;
	}*/


}

/*Tablets*/
@media only screen and (min-width: 401px) and (max-width:960px){
/*	body {
		background-color: green;
	}*/

}
/*desktop*/

@media only screen and (min-width:961px){
	/*body {
		background-color: red;
	}*/
	
}
