/* Universal Selector */
* {
	background-color: white;
	border:1px solid red;
	padding-top: 10px;
}
/* Type Selector */


h1{
	background-color: steelblue;
	text-align:center;
}

/* ID Selector*/
#first-div {
	background-color: green;
}

#third-div{
	background-color: purple;
}

/* Class Selector*/
.second-heading{
	color:pink;
	text-align:center;
}

/*Attr Selector */
[name=attr-selector] {
	background-color: steelblue;
	width:250px;
	text-align:center;
}

/*CSS Combinators*/
/*Adjacent Sibling Selector - immedately selects the target element*/

/*div + p{
	background-color: yellow;
	font-size: 40px;
}*/


/*General Sibling Selector - will select all the sibling of an element*/
/*1st-sbiling ~ target elements*/


/*div ~.sibling {
	background-color: yellow;
	font-size: 40px;

}*/
/*Child Selector* - IT will select the children element of a parent element*/
/*parent-element  > child-element*/
/*div > p {
	background-color: yellow;
	font-size: 40px;
	border:1px solid black;

}*/

/*Descendant Selector - Selecs the descendant of a specified element*/

div p {
	background-color: red;
}

/*Multiple selector - this will select multiple elements */
/*p, div, span*/

#grandchild, input, span {
	background-color: steelblue;
}
